$icon-font-path: "fonts";
$fa-font-path: "fonts";
$background: #010101;
$border-radius: #1DCC34;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

@font-face {
    font-family: 'radiolandregular';
    src: url('fonts/RADIOLAND-webfont.eot');
    src: url('fonts/RADIOLAND-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RADIOLAND-webfont.woff') format('woff'),
         url('fonts/RADIOLAND-webfont.ttf') format('truetype'),
         url('fonts/RADIOLAND-webfont.svg#radiolandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{  
  font-family: $font-family-serif;
  background-color: $background;
  color: #ffffff;
}

/* Set the fixed height of the footer here */
#footer {
  height: 20px;
  background-color: #5C9560;
  color: #D9E5D9;
  position: fixed;
  bottom: 0;
  width: 100%;  
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*
vw unit
    Equal to 1% of the width of the initial containing block.
    In the example below, if the width of the viewport is 200mm, the font size of h1 elements will be 16mm (i.e. (8×200mm)/100).
vh unit
    Equal to 1% of the height of the initial containing block. 
vmin unit
    Equal to the smaller of vw or vh. 
vmax unit
    Equal to the larger of vw or vh. 
#circle{
  width: 55vmin;      // el menor del viewport
  height: 55vmin;  
  border-radius: 50vmin;        
  background-color: rgba(0, 0, 0, .1);
  #inner-circle{     
    border: 10px solid green;    
    top: 50%;     
    left: 50%;
    margin: 0 auto;
    width: 50vmin;      // el menor del viewport
    height: 50vmin;  
    border-radius: 50vmin;  
    background-color: rgba(179, 51, 51, .5);
    //background: linear-gradient( 0deg, green, 90%, green, 91%, #000000, 95%, #000000);  
  }
}
*/


/*
this one works but i dont like it
#circle{    
  margin: 0 auto;
  width: 55vmin;      // el menor del viewport
  height: 55vmin; 
  background-color: #00FF22;  
  padding: .5vmin;  
  border-radius: 50%;
}

#inner-circle{
  width: 54vmin;      // el menor del viewport
  height: 54vmin; 
  background-color: black;
  padding: .5vmin;  
  border-radius: 50%;
}

#inner-inner-circle{
  width: 53vmin;      // el menor del viewport
  height: 53vmin; 
  background-color: #00FF22;
  border-radius: 50%;
  background: -webkit-linear-gradient( 0deg, #00FF22, 0%, #00FF22, 0%, #000000, 0%, #000000);
  background: -moz-linear-gradient( 0deg, #00FF22, 0%, #00FF22, 0%, #000000, 0%, #000000);
  background: -ms-linear-gradient( 0deg, #00FF22, 0%, #00FF22, 0%, #000000, 0%, #000000);
  background: -o-linear-gradient( 0deg, #00FF22, 0%, #00FF22, 0%, #000000, 0%, #000000);
  background: linear-gradient( 0deg, #00FF22, 0%, #00FF22, 0%, #000000, 0%, #000000);
  #wi{      
      margin: -20px 0px 0px 0px;
      width: 100%;
      h3{
        font-size: 5vmin;
      }
  }
}

@media (max-width: 600px){
  #circle{    
    width: 100vmin;      // el menor del viewport
    height: 100vmin;     
    padding: 0.5vmin;  
    border-radius: 50%;
  }

  #inner-circle{
    width: 99vmin;      // el menor del viewport
    height: 99vmin;         
  }    

  #inner-inner-circle{
    width: 98vmin;      // el menor del viewport
    height: 98vmin;     
  }    
}
*/

#circle{
  background-color: $border-radius;    
  padding: 5px;
  border-radius: 50%;
  width: 100%;
}

#inner-circle{    
  padding: 100% 0% 0% 0%;
  width: 100%;  
  background-color: $background;
  border-radius: 50%;
}

#floating-text{
  font-size: 5vmin;
  padding: 20% 0% 0% 0%;
  margin: 0;
  position: absolute;  
  width: 90%;
  text-align: center;  
}